@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Nova+Square&family=Roboto&family=Varela+Round&display=swap');

.container{
  background-color: #000;
  display: flex;
}
.logo{
  margin-left:1%; 
  margin-top: 0.5%;
  height: 100%;
  width:20%;
}

.navbar{
  display: flex;
  width: 100%;
  height: 8%;
  position: fixed;
}

.link{
  margin: 2vw 0px 0px 50vw;
}
.navlink{
  color:#ff0f7b;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size:larger;
  font-weight: bold;
}
.products{
  margin-right: 5vw;
}
.maindiv{
  height: 100vh;
  width: 100vw;
}
.linktext{
    text-decoration: none;
  }
  .buttondiv{ 
    height: 45px;
    width:200px;
    color:white;
    display: flex;
    font-family: 'Aldrich', sans-serif;
    font-size: 20px;
    font-weight: 100;
    background-color: #ff0f7b;
    border-radius: 25px;
  }
  .buttontext{
    display: inline;
    margin:10px 0px 0px 20px;
  }
  .icon{  
    color:black;    
    margin:5px 0px 0px 30px;
    padding: 5px 0px 0px 5px;
    background-color: white;
    border-radius: 100px;
    height: 30px;
    width: 30px;
  }

.centerdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    height: 80vh;
}
.check{
    color: #ff0f7b;
    font-size: 150px;
}
.para{
    text-align: center;
    color:#ff0f7b;
    font-family: 'Aldrich', sans-serif;
    font-size: 50px;
}